<div class="mt-3 float-right mb-4">
    <strong>
      Total Receitas: <%= valor(@sum_receitas) %> <br>
      Total Despesas: <%= valor(@sum_despesas) %> <br>  
      Saldo:          <%= valor(@sum_receitas - @sum_despesas) %>
    </strong>
</div>