<div data-controller='lancamentos'>
  <%#= javascript_include_tag "lancamentos" %>
  <% @card_title = "Relação de Lançamentos" %>

  <% @btn_print = link_to  lancamentos_path(@lancamentos, format: :pdf, q: params[:q]), target: "_blank", class: 'btn btn-warning btn-icon-split btn-sm mr-2' do %>
  <span class="icon text-white-50">
    <i class="fa fa-print"></i>
  </span>
  <span class="text d-none d-lg-block d-xl-block d-md-block">Imprimir</span>

  <% end %>



  <% @btn_new = btn_new(new_lancamento_path, true) %>

  <%= render partial: 'lancamentos/shared/control_mes' %>

  <div class="table-responsive" data-controller='datatables'>

    <table class="table table-striped table-bordered table-sm display">
      <thead class= 'table-info', align= 'center'>
        <tr>
          <th>Data</th>
          <th>Tipo</th>
          <th>Conta</th>
          <th>Descrição</th>
          <th>Devido</th>
          <th>Valor Pago</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="lancamento-index"  id="lancamentos_table">
        <% @lancamentos.each do |lancamento| %>
        <%= render "lancamentos/shared/lancamento", lancamento: lancamento  %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render partial: 'lancamentos/shared/resumo_somas' %>
  <%= render partial: 'lancamentos/shared/modal' %>
</div>