<%= link_to " Orcamentos", orcamentos_path, class: "dropdown-item" %>
<%= link_to " Contas", lancamentos_path, class: "dropdown-item" %>
<div class="dropdown-divider"></div>

<%= link_to " Transações Bancárias", transferencias_path, class: "dropdown-item" %>
