<% @card_title = "Relação de Fornecedor" %>
<% @btn_new = btn_new(new_fornecedor_path) %>


<div class="table-responsive">
  <%= table_for(@fornecedors) do %>
    <% field_table('Documento') { |f| f.documento } %>
    <% field_table('Nome') { |f| f.nome} %>
    <% field_table('Situação') { |f| situacao(f.ativo)} %>
    <% btn_for %>
  <% end %>
</div>
