<div class="modal fade" id="modal_duvida" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Classificação das Contas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
<p><strong>OBRIGATÓRIAS FIXAS (OF):</strong> 

São aquelas despesas que não se pode abrir mão (por isso são chamadas de obrigatórias) e também não são passíveis de diminuição. Um exemplo clássico são as parcelas do financiamento da casa própria. Em certa medida, não é possível deixar de pagá-las, muito menos diminuir seu valor.</p>
<p>
A compra de uma geladeira de forma financiada, depois de realizada a transação, também pode se encaixar nessa categoria, pois será “obrigatório” o pagamento das parcelas e, a princípio, não há como diminuir esse valor. Como se pode notar, em uma análise de cortes de despesas, os itens listados nessa categoria serão muito difíceis de serem mudados.</p>

 
<p><strong>OBRIGATÓRIAS VARIÁVEIS (OV):</strong> 

As despesas aqui listadas não poderão ser eliminadas, mas é possível diminuí-las. Um exemplo comum a todas as pessoas são os gastos com Alimentação. Não é possível zerar esse item de seu orçamento, todavia com uma nova concepção de vida financeira, tal despesa poderá ser realizada de forma mais racional. Sem excessos. O que se deve trabalhar nos itens classificados como OV é uma adequação das despesas à sua realidade financeira.</p>

 
<p><strong>NÃO OBRIGATÓRIAS FIXAS (NOF):</strong>

Como o próprio nome diz, tais despesas não são essenciais e seu valor não pode ser diminuído. Isso significa que existem apenas duas escolhas: ou continua com tal gasto no orçamento ou elimina-o por completo. É o caso de uma assinatura de TV a cabo. Apesar de muitas pessoas pensarem o contrário, não é um item obrigatório. E também se imaginarmos que já se possui o plano mais econômico, não será possível reduzi-lo. Dessa forma: ou se aceita gastar esse dinheiro todo mês ou cancela a assinatura.</p>

 
<p><strong>DESPESAS NÃO OBRIGATÓRIAS VARIÁVEIS (NOV)</strong>
Os itens aqui classificados possuem a característica de não serem obrigatórios e seus valores poderem ser diminuídos. Tome o exemplo de gastos com bebida alcoólica. Mesmo eu adorando tomar minha cervejinha – e piadas a parte – esse não é um item essencial à vida de ninguém, ou seja, é não obrigatório. Além disso, ao contrário das despesas NOF, os valores gastos com esse item podem ser eliminados ou apenas diminuídos.</p>
        
 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

