<% @card_title = "Relação de Contas" %>
<% @btn_new = btn_new(new_conta_path) %>

<div class="table-responsive">
  <%= table_for(@contas) do %>
    <% field_table('Tipo') { |f| tipo_conta(f.tipo) } %>
    <% field_table('Conta') { |f| f.nome} %>
    <% field_table('Grupo da Conta') { |f| f.grupocont.nome} %>
    <% field_table('Situação') { |f| situacao(f.ativo)} %>
    <% btn_for %>
  <% end %>
</div>
