<div class="table-responsive" >

<table class="table table-bordered table-sm table-hover">
	<thead class= 'thead-light', align= 'center'>
		<tr>
			<th>Data</th>
			<th>Conta</th>
			<th>valor</th>
			<th>Multa</th>
			<th>Juros</th>
			<th>Total</th>
			<th style="width: 5%"></th>
		</tr>
	</thead>
	<tbody class="pagamento-index"  id="pagamentos_table">
		<%= render @pagamentos %>
	</tbody>
</table>

</div>